.formulario{
    width: 50%;
    position: absolute;
    top: 15%;
    left: 25%;
}

.form-group label{
    padding-bottom: 5px;
}

.form-group input{
    padding-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.form-group button{
    margin-top: 10px;
    height: 50px;
    border: 0px;
}